body {
  margin: 50px;
  font-size: 20px;
  color: #333;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  line-height: 1.3;
  width: 800px;
  margin: 50px auto;
}

h1 {
  font-size: 1.5em;
  padding-top: 1em;
}

.intro {
  font-style: italic;
  color: #999;
  font-family: Georgia, Times, "Times New Roman", serif;
}

a:hover {
  color: orange;
}

li {
  margin-bottom: 0.5em;
}
